/* general */
/* *{
    border: 1px solid red;
} */
html{
    scroll-behavior: smooth;
}
:root{
    --nav-font: 'Red Hat Text', sans-serif;
    --button-font: 'Red Hat Text', sans-serif;
    --main-font: 'Aleo', serif;
    --h2-font: 'Red Hat Text', sans-serif;
    --signature-font:
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
}
h1{
    font-family: var(--main-font) ;
    font-size: 80px;
    padding: 0;
    margin: 0;
}
h2{
    font-family: var(--h2-font);
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}
h3{
    font-family: var(--main-font);
    font-size: 35px;
    padding: 0px;
    margin-top: 0px;
    color: #0D606F;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-h2{
    margin: 0;
    padding: 0;
    text-align: center;
}
.button{
    color: white;
    font-family: var(--button-font);
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #0D606F;
    border: none;
}
.button:hover{
    cursor: pointer;
    color: rgb(202, 74, 74);
    transition: 2s;
}

/* header */
.header-img{
    background-image: url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash1.png);
    height: 765px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: rgba(242, 120, 92, 0.7);
    height: 90px;
    padding-left: 120px;
    padding-right: 120px;
    font-family: var(--nav-font);
    font-size: 16px;
}
.header-logo{
    height: 31px;
    width: 216px;
    padding-bottom: 10px;
}
.header-logo-390{
    display: none;
}
.navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 550px;
}
.nav-link a{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.account-mobile-link{
    display: none;
}
.nav-link a:hover{
    transition: 2s;
    color:royalblue;
}
.header-burger{
    display: none;
    position: relative;
    width: 35px;
    height: 32px;
}
.burger-line{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    right: 0;
    border-radius: 3px;
}
.burger-line-first{
    top: 8px;
}
.burger-line-second{
    top: 50%;
    transform: translateY(-50%);
}
.burger-line-third{
    bottom: 8px;
}

/* face-content */
.face-content{
    font-family: var(--main-font) ;
    width: 892px;
    height: 422px;
    margin-left: 120px;
    margin-top: 32px;
    padding:0;
    color: white;
}
.face-content p{
    font-size:20px;
    margin-top: 30px;
    font-family: var(--main-font);
}
/* .find-menu */
.find-menu{
    position: relative;
    border-radius: 16px;
    padding: 0;
    margin-top: 50px;
}
.find-menu input[type="text"]{
    padding-top: 32px;
    padding: 31px;
    min-width: 830px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: none;
    font-size: 24px;
    font-family: var(--main-font);
    font-style: italic;
    color:#F2785C;
}
.find-menu input[type="submit"]{
    position: absolute;
    width: 228px;
    height: 59px;
    background-color:#0D606F;
    right: 20px;
    top: 15px;
    border-radius: 10px;
    font-family: var(--button-font);
    color: white;
    font-size: 24px;
    border: none;
}
.find-menu input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(202, 74, 74);
    transition: 2s;
}
.find-menu input::placeholder{
    color: black;
    font-size: 24px;
    font-style: italic;
    color:#F2785C;
    opacity: 0.7;
}
/* main-content */
/* section-trips */
.section-trips{
    margin-top: 80px;
}
.three-steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1177px;
}
.block-step{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-step{
    margin-top: 40px;
    background-color: #F2785C;
    height: 100px;
    width: 100px;
    border-radius: 16px;
}
.box-step img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}
.block-step p{
    font-family: var(--main-font);
    font-size: 20px;
    color: #0D606F;
    padding: 0;
    margin-top: 30px;
}
/* section-destinations */
.section-destinations{
    margin-top: 80px;
    position: relative;
}
/* slider-task */
.button-prev{
    width: 280px;
    height: 800px;
    position: absolute;
    top: 93px;
    left: 0;
}
.button-next{
    width: 280px;
    height: 800px;
    position: absolute;
    top: 93px;
    right: 0;
}
/* end slider-task */
.img-photo{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    transition: all ease 1s;
}
.img-photo p{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 32px;
    font-family: 'Red Hat Text', sans-serif;
}
.img-destinations{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all ease 1s;
}
.img-destinations-390{
    display: none;
}
.circles-block{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.circle-common{
    background-color: rgba(242, 120, 92, 0.5);;
}
.circle-active{
    background-color:  #F2785C;;
}
.circles-block-390{
    display: none;
}
.arrow-390{
    display: none;
}
.button-find{
    margin-top: 40px;
    display: block;
    position: relative;
    width: 230px;
    height: 60px;
    text-align: center;
    font-size: 24px;
}
.button-find img{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    left:31px;

}
.button-find span{
    display: block;
    position: absolute;
    top: 13px;
    left: 81px;
}
/* TRAVEL STORIES */
.story{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 1200px;
    height: 250px;
    margin-bottom: 30px;
}
.stories-container{
    margin-top: 40px;
}
.h2-stories{
    margin-top: 80px;
}
/* .story img{
    display: block;
} */
.story-small-img{
    display: none;
}
.story-text-container{
    margin-left: 35px;
    font-family: var(--main-font);
    color: #0D606F;
    font-size: 20px;
}
.stories-container p{
    margin-bottom: 0px;
}
.stories-container a{
    display: block;
    margin-top: 0px;
}
.footer-img{
    background-image: url(assets/img/background-footer.jpg);
    height: 1331px;
}
.blur-img{
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 35px;
    height: 1270px;
}
.section-stories button{
    display: block;
    margin-top: 10px;
}
/* footer */
.footer-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.footer-section{
    width: 100%;
    padding-left: 121px;
    padding-right: 121px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.empty-block{
    width: 141px;
    height: 21px;
}
.rights{
    font-family: var(--main-font);
    width: 280px;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    color: white;
}
.social ul{
    /* padding-left: 170px; */
    width: 141px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

/* link github */
.empty-block{
    position: relative;
    padding-left: 40px;
}
.github-footer::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(assets/svg/iconmonstr-github-1.svg);
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.github-link-footer{
    display: block;
    line-height: 35px;
    margin: 0;
    padding: 0;
    transition: .3s;
    text-decoration: none;
    color: white;
}
.github-link-footer:hover{
    text-decoration: underline;
}

/* media start */

@media screen and (max-width: 390px) {
    :root{
        --small-font: 16px;
    }
    .header-h2{
        font-size: var(--small-font);
        font-weight: 500;
    }
    .face-content h1, .face-content p, .button-login, .header-logo, .button-prev, .button-next{
        display: none;
    }
    .wrapper{
        margin: 0 auto;
        min-width: 390px;
        overflow: hidden;
    }
    .button-find{
        margin-top: 10px;
        display: block;
        position: relative;
        width: 92px;
        height: 30px;
        text-align: center;
        font-size: 11px;
    }
    .button-find img{
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 9px;
        left:10px;
    }
    .button-find span{
        display: block;
        position: absolute;
        top: 7px;
        left: 25px;
    }
    /* media header */
    .header-img{
        background-image: url(  assets/img/background_390.jpg);
        height: 251px;
    }
    .header-logo-390{
        display: block;
    }
    .header-content{
        background: rgba(242, 120, 92, 0);
        height: 30px;
        padding-top: 35px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: var(--small-font);
    }
    .find-menu{
        position: absolute;
        top: 90px;
        left: 15px;
        min-width: 350px;
    }
    .find-menu input[type="text"]{
        padding: 6px;
        min-width: 350px;
        height: 38px;
        font-size: var(--small-font);
    }
    .find-menu input[type="submit"]{
        position: absolute;
        width: 90px;
        height: 30px;
        font-size: 11px;
        top: 10px
    }
    .find-menu input::placeholder{
        font-size: var(--small-font);
    }
    .header-burger{
        display: block;
    }
    .header-nav{
        position: fixed;
        width: 165px;
        height: 250px;
        top: 0;
        right: 0;
        background-color: #F2785C;
        z-index: 999;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header-nav-active{
        transform: translateX(0);
    }
    .navigation{
        position: absolute;
        top: 44px;
        left: 44px;
        display: flex;
        flex-direction: column;
    }
    .nav-link{
        margin-bottom: 10px;
    }
    .account-mobile-link{
        display: block;
    }
    .nav-link:nth-last-child(){
        margin-bottom: 0px;
    }
    .header-nav-close{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 999;
    }
    .header-nav-close-line{
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: white;
        position: absolute;
        top: 50%;
    }
    .header-nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header-nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    /* media trip */
    .section-trips{
        margin-top: 20px;
    }
    .three-steps{
        width: 360px;
        display: flex;
        justify-content: space-between;
    }
    .block-step{
        width: 100px;
        height: 150px;
    }
    .box-step{
        margin-top: 20px;
        height: 70px;
        width: 70px;
    }
    .box-step img{
        display: block;
        width: 35px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 17px;
    }
    .block-step p{
        font-size: 11px;
        color: #0D606F;
        padding: 0;
        margin-top: 5px;
    }
    .calendare p{
        text-align: center;
    }
    .plane p{
        text-align: right;
    }
    /* media destination */
    .section-destinations{
        margin-top: 0;
    }
    .img-destinations{
        display: none;
    }
    .img-destinations-390{
        display: flex;
        position: relative;
        transition: all ease 1s;
    }
    .arrow-390{
        display: block;
        position: absolute;
        z-index: 10000;
    }
    .arrow-390-left{
        transform: rotate(180deg);
        left: 20px;
    }
    .arrow-390-right{
        right: 20px;
    }
    .img-photo-destinations-390{
        position: relative;
        margin-left: 10px;
        margin-right: 10px;

    }
    .img-photo-destinations-390 p{
    position: absolute;
    top: 0;
    left: 15px;
    color: white;
    font-size: 20px;
    font-family: 'Red Hat Text', sans-serif;
    }
    .circles-block{
        display: none;
    }
    .circles-block-390{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 190px;
        left: 150px;
    }
    .circles-block-390 .circle-390{
        width: 8px;
        height: 8px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: #F2785C;
    }
    /* travel stories */
    .blur-img{
        margin-top: 0;
        height: 628px;
    }
    .h2-stories{
        margin-top: 20px;
    }
    .story{
        width: 360px;
        height: 130px;
        margin-bottom: 15px;
    }
    .story-big-img{       
        display: none;
    }
    .story-small-img{
        display: block;
    }
    .story-text-container{
        margin-left: 10px;
        font-family: var(--main-font);
        color: #0D606F;
        font-size: 9px;
    }
    .stories-container{
        margin-top: 10px;
    }
    h3{
        font-size: 11px;
    }
    .footer-img{
        background-image: url(assets/img/background_footer_390.png);
        height: 693px;
    }
    .section-stories button{
        margin-top: 0px;
    }
    /* footer */
    .empty-block{
        display: none;
    }
    .rights{
        display: none;
    }
}




/* travel_3 */
/* log in */
.log-in-pop-up-background{
    /* display: none;  */
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    transform: translateY(-100%);
    transition: .4s;
}
.log-in-pop-up-background-active{
    transform: translateY(0);
}
.log-in-pop-up{
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 650px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    border-radius: 10px;
    z-index: 1000000;
    /* margin: 0 auto; */
    transform: translateY(-100%);
    transition: .4s;
}
.log-in-pop-up-active{
    transform: translateY(0);
}
.log-in-pop-up .login{
    font-family: var(--main-font);
    font-size: 32px;
    color: #0D606F;
}
.pop-up-button{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 46px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: var(--button-font);
}
.pop-up-button img{
    padding-right: 10px;
}

.facebook{
    background-color: #1877F2;
    color: white;
}
.or{
    position: relative;
    font-family: var(--main-font);
    color: #0D606F80;
}
.or::before{
    display: block;
    width: 265px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #0D606F;
    top: 50%;
    right: 20px;
}
.sign-in-button{
    background-color: #0D606F;
    color: white;
}
.or::after{
    display: block;
    width: 265px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #0D606F;
    top: 50%;
    left: 20px;
}
.field-name{
    font-family: var(--main-font);
    padding-bottom: 0px;
}
.help-link{
    text-align: center;
    font-family: var(--main-font);
    border-bottom: 1px solid rgba(13, 96, 111, 0.5);
    padding-bottom: 20px;
}
.help-link a{
    color: #0D606F;
}
.under-help-link{
    text-align: center;
    font-family: var(--main-font);
    color: rgba(13, 96, 111, 0.5);
}
.under-help-link a{
    color: #0D606F;
}

/* sign up */
.sign-up-pop-up{
    position: fixed;
    margin:auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 450px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    border-radius: 10px;
    z-index: 1000000;
    transform: translateY(-100%);
    transition: .4s;
}
.sign-up-pop-up-active{
    transform: translateY(0);
}
.sign-up-pop-up .login{
    font-family: var(--main-font);
    font-size: 32px;
    color: #0D606F;
}
.under-help-link-create{
    border-top: 1px solid rgba(13, 96, 111, 0.5);
}