/* general */
:root{
    --nav-font: 'Red Hat Text', sans-serif;
    --button-font: 'Red Hat Text', sans-serif;
    --main-font: 'Aleo', serif;
    --h2-font: 'Red Hat Text', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    max-width: 1440px;
}
h1{
    font-family: var(--main-font) ;
    font-size: 80px;
    padding: 0;
    margin: 0;
}
h2{
    font-family: var(--h2-font);
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */
.header-img{
    background-image: url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash1.png);
    height: 765px;
}
.header-content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background: rgba(242, 120, 92, 0.7);
    height: 90px;
    font-family: var(--nav-font);
    font-size: 16px;
}
.header-logo{
    height: 31px;
    width: 15%;
    padding-left: 50px;
    padding-bottom: 10px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 550px;
    padding-left: 10px;
}
.nav-link a{
    display: block;
    /* line-height: 50px; */
    margin: 0;
    padding: 0;
    transition: .3s;
    text-decoration: none;
    color: white;
    list-style-type: none;
    /* padding-left: -40px; */
}
.login-button{
    color: white;
    font-family: var(--button-font);
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #0D606F;
    border: none;
}
/* face-content */
.face-content{
    font-family: var(--main-font) ;
    width: 892px;
    height: 422px;
    margin-left: 120px;
    margin-top: 32px;
    padding:0;
    color: white;
}
.face-content p{
    font-size:20px;
    margin-top: 30px;
}
/* .find-menu */
.find-menu{
    position: relative;
    border-radius: 16px;
    padding: 0;
    margin-top: 50px;
}
.find-menu input[type="text"]{
    padding-top: 32px;
    padding: 41px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: none;
    font-size: 24px;
    font-family: var(--main-font);
    font-style: italic;
    color:#F2785C;
}
.find-menu input[type="submit"]{
    position: absolute;
    width: 228px;
    height: 59px;
    background-color:#0D606F;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    font-family: var(--button-font);
    color: white;
    font-size: 24px;
    border: none;
}
.find-menu input::placeholder{
    color: black;
    font-size: 24px;
    font-style: italic;
    color:#F2785C;
    opacity: 0.7;
}
/* main-content */
.section-trips{
    margin-top: 80px;
}
.header-h2{
    margin: 0;
    padding: 0;
    text-align: center;
}
.three-steps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
.box-step{
    margin-top: 40px;
    background-color: #F2785C;
    height: 100px;
    width: 100px;
    border-radius: 16px;
    border: 1px solid green;
}
.box-step img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}
.bike p{
    border: 1px solid yellowgreen;
}